h1 {
    text-align: center;
    padding: 0px;
    margin: 0px 0px 3px 0px;
}

.second {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.third {
    text-align: center;
    margin: 4px;
}

.summary {
    border-bottom: 2px solid black;
    padding: 0px;
    margin: 0px;
}

.work {
    border-bottom: 2px solid black;
    margin: 0px;
    padding: 0px;
}

.dev {
    margin: 0px;
    padding: 0px;
}

.webdetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul1 {
    margin: 0px;
    padding: 0px;
    text-align: start;
}

.hrm {
    margin: 0PX;
}

.hr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.educationheadline {
    border-bottom: 2px solid black;
}

.EDUCATION {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.bom {
    margin: 0px;
}

.skillsheadline {
    border-bottom: 2px solid black;
}

.certificatesheadline {
    border-bottom: 2px solid black;
}
}
a{color: black;}
body{ background-color: lightgrey;
margin: 0px 3px 0px 3px;
padding: 0px 3px 0px 3px;}