.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #EBF1FF;
}

.li1 {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.li2 {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
}

.olx {
    width: 70px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px 18px 0px 0px;
    margin-top: 20px;
    padding-bottom: 15px;
}

.motors img {
    width: 53px;
}

.motors {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.property img {
    width: 49px;
}

.property {
    font-size: 20px;
    display: flex;
    align-items: center;
}
button{width: 90px;
padding: 10px 30px;
border-radius: 20px;
outline: none;
border: 5px solid aqua;
}
button:hover {
    background-color: aqua;
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
}
button:active {
    transform: translateY(0);
}