* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.logo {
    position: relative;
    z-index: 2;
}

.signin {
    position: relative;
    z-index: 2;
}

nav {
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

.signin button {
    padding: 5px 13px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #FF0000;
    border: none;
    color: white;
    text-align: center;
}

.contentbox {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    text-align: center;
}

.contentbox h1 {
    font-size: 45px;
}

.inpsec input {
    width: 250px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    background-color: black;
    opacity: 0.6;
    margin-left: 2px;
}

input:focus {
    color: white;
}

input::placeholder {
    color: white;
}

.inpsec button {
    padding: 15px;
    width: 200px;
    font-size: larger;
    font-weight: 900;
    color: white;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
}

.inpsec {
    display: flex;
    width: 500px;
    gap: 5px;
}

.seperation {
    width: 100vw;
    height: 4px;
    background-color: gray;
    position: absolute;
    bottom: 0;
}

.textseg1 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.textseg1 h1 {
    font-size: 40px;
    font-weight: bolder;
}

.segment1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80vw;
    gap: 100px;
    margin: 10px auto;
    position: relative;
    padding: 30px 30px;
}

.imgseg1 {
    position: relative;
}

.imgseg1 video {
    position: absolute;
    top: 99px;
    right: 82px;
    z-index: -1;
}

.segment2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75vw;
    gap: 100px;
    margin: 10px auto;
    position: relative;
    padding: 30px 30px;
}
@media screen and (max-width:800px) {
    .segment1, .segment2{flex-wrap: wrap;}
    
}

.faqhead {
    color: white;
    text-align: center;
    margin: 70px;
    font-size: 30px;
    font-weight: bolder;
}

.boxfaq {
    max-width: 70vw;
    background-color: gray;
    color: white;
    font-size: 25px;
    padding: 20px;
    background-color: #2B2B2B;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
}

.boxfaq:hover {
    background-color: #414141;
    transition: all .3s;
}

.faqcon {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10px auto;
    width: 70vw;
}
.footbox{color: white;
width: 70vw;
margin: 100px auto;}

.footgrid{display: grid;
grid-template-columns: repeat(auto-fit, 250px);
text-decoration: underline;
padding: 30px;}