button{
    border: none;
    background-color: aqua;
    cursor: pointer;
    transition:
}

button:hover {
    background-color: blue;
    text-shadow: black;
    box-shadow: black;
}

button:hover :active {
    color: bisque;
}