:root {
    --primary-color: #A4C63B;
    --seconday-color: #8A9550;
}

* {
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav1 {
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}

.timings,
.cellphone {
    border-right: 1px solid white;
    padding-right: 10px;
}

.left-nav1 {
    display: flex;
    gap: 20px;
    color: white;
}

.right-nav1 a {
    color: white;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid white;
}

.hero-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    top: 0;
}

.nav-2 {
    position: absolute;
    top: 25px;
    left: 55px;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 95%;
    /* align-items: center; */
}

.right-nav-2 ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.right-nav-2 ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.nav-2-heading {
    font-size: 20px;
    font-weight: bolder;
}

.con-rest {
    position: absolute;
    z-index: 3;
    color: white;
    bottom: 160px;
    left: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.sub-head{
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}
.con-head{
    font-size: 35px;
    font-weight: bolder;
}
.para-con{
    font-size: 14px;
}
.btn-con button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    font-weight: 400;
    border-radius: 15px;
    padding: 6px 12px;
}
.seperation-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 20px;
}
.left-sep1{
    font-size: 15px;
}
.right-sep1 button{
    background-color: var(--primary-color);
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    padding: 8px 15px;
}
.seperation-2{
    width: 50vw;
    margin: 100px auto;
    text-align: center;
}
.spanF{
    font-size: 25px;
    font-weight: bolder;
}
.SpanS{
    font-size: 25px;
    color: var(--seconday-color);
}

.card1{
    width: 300px;
    height: 370px;
    /* border: 1px solid black; */
    background-color: #F7F7F7;
    border-radius: 10px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.cardheading{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
.card1 p{
    padding: 0px 10px;
    font-size: 12px;
}
.card1 button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius:18px;
    padding: 7px 10px;
    margin-left: 10px;
}
.card1 img{
    margin-bottom: 25px;
    border-radius: 10px 10px 0px 0px;
}
.card1:hover{
    transform: scale(1.05);
    transition: all .3s;
}