body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}
.section1 {
    width: 300px;
    height: 100vh;
    border-right: 1px solid black;
    background-color: bisque;
    position: relative;
    position: absolute;
}
.sec2 {
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
hr {
    width: 90%;
    align-items: start;
    margin-left: 2px;
}
.button {
    position: absolute;
    bottom: 30px;
    left: 90px;
}
button {
    padding: 10px 15px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{background-color: lightcoral;}