.box {
    border: 2px solid black;
    height: 133px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
}

* {
    margin: 0px;
    padding: 0px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
    position: fixed;
    bottom: 0px;
    left: 40vw;
}
#box3{
    background-color: blue;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0px;
}
.container {
    border: 2px solid black;
    margin: 43px;
    padding: 34px;
    position: absolute;
}