* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card1 {
    border: 1px solid black;
    width: 250px;
    height: 400px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(84, 81, 81);
    box-shadow: 5px 5px 10px gold;
    color: white;

}

.card1:hover {
    background-color: black;
    transition: all .3s;
    transform: scale(1.2);
}

.card2:hover {
    background-color: black;
    transition: all .3s;
    transform: scale(1.2);
}

.card3:hover {
    background-color: black;
    transition: all .3s;
    transform: scale(1.2);
}


.card2 {
    border: 1px solid black;
    width: 250px;
    height: 400px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(91, 88, 88);
    box-shadow: 5px 5px 10px gold;
    color: white;

}

.card3 {
    border: 1px solid black;
    width: 250px;
    height: 400px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(82, 79, 79);
    box-shadow: 5px 5px 10px gold;
    color: white;
}

div h2 {
    margin: 15px 10px;
}

div p {
    margin: 15px 15px 10px 15px;

}

.capsules {
    margin: 10px;
}

img {
    border-radius: 15px 15px 0px 0px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px;
}

div span {
    border: 1px solid black;
    padding: 7px 6px;
    border-radius: 15px;
    background-color: gray;
    border: none;
    color: white;
    box-shadow: 2px 2px 2px 2px gold;
}

button {
    padding: 10px 5px;
    border-radius: 15px;
    border: none;
    background-color: gray;
    color: white;
    background-color: rgb(68, 5, 5);
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    flex-wrap: wrap;
}

button:hover {
    background-color: black;
    cursor: pointer;
    transition: all .3s;
}

button:active {
    background-color: rgb(145, 142, 142);
}