.card {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    width: 60%;
    background-color: black;
    border-radius: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}
.img{
    position: relative;
}
.img img{
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    
}
.img .duration{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    padding: 2px;
}